#israel {
    background-image: -webkit-linear-gradient(#ffffff 0%, #ffffff 10.6667%, #0038b8 10.6667%, #0038b8 25%,#ffffff 25%,#ffffff 75%,#0038b8 75%, #0038b8 89.3333%, #ffffff 89.3333%);
    background-image: -o-linear-gradient(#ffffff 0%, #ffffff 10.6667%, #0038b8 10.6667%, #0038b8 25%,#ffffff 25%,#ffffff 75%,#0038b8 75%, #0038b8 89.3333%, #ffffff 89.3333%);
    background-image: -moz-linear-gradient(#ffffff 0%, #ffffff 10.6667%, #0038b8 10.6667%, #0038b8 25%,#ffffff 25%,#ffffff 75%,#0038b8 75%, #0038b8 89.3333%, #ffffff 89.3333%);
    background-image: linear-gradient(#ffffff 0%, #ffffff 10.6667%, #0038b8 10.6667%, #0038b8 25%,#ffffff 25%,#ffffff 75%,#0038b8 75%, #0038b8 89.3333%, #ffffff 89.3333%);
    width: 22em;
    height: 16em;
}

.david-star {
    width: 6.6em;
    height: 6.6em;
    left: 50%;
    margin-left: -3.3em;
    margin-top: 4.7em;
}

    .david-star span {
        width: 100%;
        font-size: 9.5em;
        line-height: 71.6%;
        text-align: center;
        color: #0038b8;
    }