#north-korea {
    position: relative;
    background-image: -webkit-linear-gradient(#024fa2 17%,#fff 17%,#fff 19.5%,#ed1c27 19.5%,#ed1c27 80.5%,#fff 80.5%,#fff 83%,#024fa2 83%);
    background-image: -o-linear-gradient(#024fa2 17%,#fff 17%,#fff 19.5%,#ed1c27 19.5%,#ed1c27 80.5%,#fff 80.5%,#fff 83%,#024fa2 83%);
    background-image: -moz-linear-gradient(#024fa2 17%,#fff 17%,#fff 19.5%,#ed1c27 19.5%,#ed1c27 80.5%,#fff 80.5%,#fff 83%,#024fa2 83%);
    background-image: linear-gradient(#024fa2 17%,#fff 17%,#fff 19.5%,#ed1c27 19.5%,#ed1c27 80.5%,#fff 80.5%,#fff 83%,#024fa2 83%);
    width: 30em;
    height: 15em;
}

    #north-korea:after {
        content: " ";
        position: absolute;
        top: 28%;
        left: 22%;
        width: 22%;
        height: 44%;
        background: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    #north-korea .star {
        position: relative;
        color: #ed1c27;
        font-size: 8.2em;
        left: .79em;
        top: .148em;
        z-index: 99;
    }
