#romania {
    background-image: -webkit-linear-gradient(90deg,#002b7f 33.3333%,#fcd116 33.3333%,#fcd116 66%,#ce1126 66%);
    background-image: -o-linear-gradient(90deg,#002b7f 33.3333%,#fcd116 33.3333%,#fcd116 66%,#ce1126 66%);
    background-image: -moz-linear-gradient(90deg,#002b7f 33.3333%,#fcd116 33.3333%,#fcd116 66%,#ce1126 66%);
    background-image: linear-gradient(90deg,#002b7f 33.3333%,#fcd116 33.3333%,#fcd116 66%,#ce1126 66%);
    width: 22.5em;
    height: 15em;
}
