#russia{
    background-color: #fff;
    background-image: linear-gradient(transparent 33.33%, #0039a6 33.33%, #0039a6 66.67%, #d52b1e 66.67%);
    width: 22.5em;
    height: 15em;
    position: relative;
}