#trinidad-and-tobago {
    background: linear-gradient(40.8deg, transparent 41.1%, white 41.1%, white 44.1%, black 44.1%, black 56.4%, white 56.4%, white 59.2%, transparent 0), #ce1126;
    width: 25em;
    height: 15em;
    position: relative;
}
