#br-am {
    background-color: #fff;
    background-image: linear-gradient(transparent 33.3333%, #d20000 33.3333%, #d20000 66.6667%, transparent 66.6667%);
    width: 21em;
    height: 15em;
    position: relative;
}

    #br-am .square {
        background-color: #001e78;
        height: 5em;
        width: 9em;
        top: 0;
        left: 0;
        position: absolute;
    }

.star {
    color: #fff;
    font-size: 1.6em;
    line-height: 305%;
    margin-left: 18.25%;
}

.row {
    color: #fff;
    font-size: .8em;
}

    .row:after {
        content: '★★★★★★★★';
    }

.row-1 {
    line-height: 245%;
    margin-left: 3.2%;
    letter-spacing: .417em;
}

.row-2 {
    line-height: 495%;
    margin-left: 3.2%;
    letter-spacing: .417em;
}

.row-3 {
    line-height: 745%;
    margin-left: 3.2%;
    letter-spacing: .417em;
}

.row-4 {
    line-height: 995%;
    margin-left: 3.2%;
    letter-spacing: .417em;
}

.square-1:after {
    position: relative;
    content: '▌';
    color: #001e78;
    font-size: 1.7em;
    line-height: 300%;
    margin-left: 1.015em;
}

.square-2:after {
    position: relative;
    content: '■';
    color: #001e78;
    font-size: 3.6em;
    line-height: 115%;
    margin-left: .95em;
}

.square-3:after {
    position: relative;
    content: '▌';
    color: #001e78;
    font-size: 1.7em;
    line-height: 300%;
    margin-left: 3.95em;
}
