#br-es {
    background-color: #fff;
    background-image: linear-gradient(#00a3ce 33.3333%, #fff 33.3333%, #fff 66.6667%, #ef5a8d 66.6667%);
    width: 21.482em;
    height: 15em;
    position: relative;
}

    #br-es .motto {
        color: #00a3ce;
        font-weight: bold;
        font-size: 137%;
        text-transform: uppercase;
        text-align: center;
        top: 4.33em;
        width: 100%;
        letter-spacing: .05em;
    }