#us-conf-rebel {
    background-color: #be0a2f;
    background-image: linear-gradient(31deg, transparent 44%, #fff 44%, #fff 56%, transparent 56%), linear-gradient(-31deg, transparent 44%, #fff 44%, #fff 56%, transparent 56%);
    height: 15em;
    width: 23.75em;
    position: relative;
}

    #us-conf-rebel .blue-cross {
        left: 0;
        top: 0;
        height: 15em;
        width: 23.75em;
        position: absolute;
        background-image: linear-gradient(31deg, transparent 46%, #002768 46%, #002768 54%, transparent 54%), linear-gradient(-31deg, transparent 46%, #002768 46%, #002768 54%, transparent 54%);
        overflow: hidden;
    }

.row-top-top {
    line-height: 144%;
    letter-spacing: 9.18em;
    margin-left: .515em;
}

.row-top-mid {
    line-height: 344%;
    letter-spacing: 5.83em;
    margin-left: 2.19em;
}

.row-top-bot {
    line-height: 544%;
    letter-spacing: 2.5em;
    margin-left: 3.85em;
}

.row-mid {
    line-height: 744%;
    margin-left: 5.52em;
}

.row-bot-top {
    line-height: 944%;
    letter-spacing: 2.5em;
    margin-left: 3.85em;
}

.row-bot-mid {
    line-height: 1144%;
    letter-spacing: 5.83em;
    margin-left: 2.19em;
}

.row-bot-bot {
    line-height: 1344%;
    letter-spacing: 9.18em;
    margin-left: .515em;
}

.star {
    font-size: 2em;
    color: #fff;
}

.star-1:after {
    content: '★';
}

.star-2:after {
    content: '★★';
}
