#us-conf-battle {
    background-color: #be0a2f;
    background-image: linear-gradient(44deg, transparent 43%, #fff 43%, #fff 55%, #fff 57%, transparent 57%), linear-gradient(-44deg, transparent 43%, #fff 43%, #fff 57%, transparent 57%);
    width: 15em;
    height: 15em;
    position: relative;
}

    #us-conf-battle .blue-cross {
        left: 0;
        top: 0;
        height: 15em;
        width: 15em;
        position: absolute;
        background-image: linear-gradient(44deg, transparent 45%, #002768 45%, #002768 55%, transparent 55%), linear-gradient(-44deg, transparent 45%, #002768 45%, #002768 55%, transparent 55%);
        overflow: hidden;
    }

.row-top-top {
    line-height: 158%;
    letter-spacing: 5.25em;
    margin-left: .315em;
}

.row-top-mid {
    line-height: 352%;
    letter-spacing: 3.18em;
    margin-left: 1.35em;
}

.row-top-bot {
    line-height: 540%;
    letter-spacing: 1.3em;
    margin-left: 2.285em;
}

.row-mid {
    line-height: 742%;
    margin-left: 3.385em;
}

.row-bot-top {
    line-height: 942%;
    letter-spacing: 1.3em;
    margin-left: 2.285em;
}

.row-bot-mid {
    line-height: 1140%;
    letter-spacing: 3.35em;
    margin-left: 1.27em;
}

.row-bot-bot {
    line-height: 1326%;
    letter-spacing: 5.25em;
    margin-left: .315em;
}

.star {
    font-size: 2em;
    color: #fff;
}

.star-1:after {
    content: '★';
}

.star-2:after {
    content: '★★';
}